@font-face {
font-family: Metalista;
src: url("fonts/Metalista.otf") format("opentype");
}

body {
	margin: 0;
	padding: 0;
	background: #000;
	/*background-size: cover;*/
    /*background-size: 7680px 8004px;*/
}

a {
	text-decoration: none;
}

p {
	font-family: 'Metalista';
	color: #FF0000;
	font-size: 1799px;
    margin: 0;
}



.title {
	font-family: 'Metalista';
	color: #FFF;
	font-size: 1099px;
	position: fixed;
	top: 15%;
}

.button {
	font-family: 'Metalista';
	color: #FFF;
	font-size: 199px;
	position: fixed;
	bottom: 70px;
	left: 190px;
}

.hide {
	display: none;
}

.winner-overlay {
    z-index: 100;
    width: 7680px;
    height: 6004px;
    top: -800px;
    position: fixed;
}

.winner {
	left: 900px;
}

.numberContainer {
	bottom: 0px;
	position: fixed;
}

.left {
	left: 300px;
}
.right {
	right: 600px;
}

.gifContainer {
	width: 40%;
	margin: 0 auto;
	margin-top: 500px;
	transition: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.face {
    background: url('backgrounds/face.png') center no-repeat;
    position: fixed;
    height: 81%;
    width: 100%;
    background-size: contain;
    top: 200px;
    z-index: 2;
}

.jaw {
	    /* top: 99%; */
    /* left: 48%; */
    background: url('assets/jaw.png') center no-repeat;
    /* position: relative; */
    height: 1000px;
    /* width: 100%; */
    background-size: contain;
    margin: 3004px 0 0 0;
    z-index: 2;
    bottom: 0px;
}

.spiral {
	/*position: absolute;*/
    /*top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;*/
    top: 30%;
    left: 45%;
    background: url('assets/spiral.png') center no-repeat;
    position: fixed;
    height: 10%;
    width: 10%;
    background-size: contain;
    z-index: 5;
    
}

.chomp {
	 animation: chomp 1800ms infinite;
}

.spin {
	animation:spin 4s infinite;
}

.flicker {
	animation:flicker 400ms infinite;
}

@-webkit-keyframes flicker {
	0% {
		color: #fff;
	}
	25% {
		color: #ff0000;
	}
	50% {
		color: #fff;
	}
	75% {
		color: #ff0000;
	}
}

@-webkit-keyframes chomp {
  0% {
	-webkit-transform:translateY(-5%);
    /*opacity: 0;*/
  }
  10% {
  	-webkit-transform:translateY(0);
    /*opacity: 0;*/
  }
  20% {
  	-webkit-transform:translateY(-20%);
    /*padding-bottom: 5px;*/
  }
  30% {
  	-webkit-transform:translateY(0);
  }
  40% {
  	-webkit-transform:translateY(-20%);
    /*padding-bottom: 6px;*/
  }
  50% {
  	-webkit-transform:translateY(0);
  }
  60% {
  	-webkit-transform:translateY(-20%);
    /*padding-bottom: 7px;*/
  }
  70% {
  	-webkit-transform:translateY(0);
  }
  80% {
  	-webkit-transform:translateY(-20%);
  	/*padding-bottom: 8px;*/
  }
  90% {
  	-webkit-transform:translateY(0);
  	/*padding-bottom: 9px;*/
    /*opacity: 1;*/
  }
  100% {
  	-webkit-transform:translateY(-5%);
  	/*padding-bottom: 9px;*/
    /*opacity: 1;*/
  }
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }